@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');
*{
    font-family: 'Gloria Hallelujah', cursive;
}
header{
    background-color: teal;
    color: goldenrod;

}
body{
    background-color: wheat;
    color:black;
}
section{
    background-color: lightsalmon;
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 200px;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
img{
    border: 1px solid goldenrod;
    border-radius: 5px;
    width: 198px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
p{
    text-align: center;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    font-size:medium;
    line-height: 25px;
}
footer{
    background-color: teal;
    color: goldenrod;
    clear: both;
}