@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');
*{
    font-family: 'Gloria Hallelujah', cursive;
}
header{
    background-color: teal;
    color: goldenrod;
}
h1{
    line-height: 60px;
    font-size: xx-large;
}
body{
    background-color: wheat;
    color:black;
}
footer{
    background-color: teal;
    color: goldenrod;
    font-weight: bolder;
}